.carousel_2 {
  padding: 3rem;
  background-color: pink;
  display: flex;
}
.image_section {
  overflow: hidden;
  /* width: 50%; */
  float: left;
}
.image_wrapper {
  max-width: 37vw;
  display: flex;
  flex-direction: row;
  transition: transform 0.5s ease-in-out;
  object-fit: contain;
}
.image_wrapper img {
  max-width: 37vw;
  object-fit: cover;
}
.text_section {
  width: 50vw;
  float: right;
}
