.aminities-section{
    margin-top: 5rem;
    margin-left: 1rem;
    margin-bottom: 4rem;
}
.aminities-cards{
    display: flex;
    flex-wrap: wrap;
    height: auto;
}
.aminities-card{
    width: 20%;
    margin-top: 1rem;
    position: relative;
    text-align: center;
}
/* .aminities-card p {
    width: 75%;
    color: black;
    margin-left: 0px;
} */
.aminities-card img{
  filter: saturate(1.5);
  max-width: 250px;
}
.aminities-section h1{
  font-size: 3.2rem;
  color: #BD9171;
  margin-left: 3rem;
}

/* Media Queries */

@media (max-width: 1249px) {
    .aminities-card {
      width: 25%;
    }
  }
  
  @media (max-width: 1024px) {
    .aminities-card {
      width: 33.33%;
    }
  }
  
  @media (min-width: 545px) and (max-width: 740px) {
    .aminities-card {
      width: 50%;
    }
    .aminities-section{
      text-align: center;
    }
  }
  
  @media (min-width: 190px) and (max-width: 545px) {
    .aminities-card {
      width: 100%;
      margin-left: 0;
    }
  
    .aminities-section {
      margin: 2rem;
      text-align: center;
    }
  }