.final-call-to-action {
    position: relative; /* make the container positioned */
   text-align: center   ;
  }
  
  .final-call-to-action img {
    height: 75vh;
    width: 100%;
    object-fit: cover;
  }
  
  .final-call-to-action::before {
    /* create a pseudo element */
    content: "";
    position: absolute; /* position it on top of the image */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #bd917173; /* greenish shade with 50% transparency */
  }
  
  .final-texts {
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 9rem;
    text-align: center;
  }
  
  .final-texts h2 {
    font-size: 3rem;
    color: white;
  }
  
  .final-texts button {
    margin-top: 2rem;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border: none;
    background-color: #94B682;
    color: white;
    cursor: pointer;
  }
  



  /* Media Queries */
@media (max-width: 1249px) {
  .final-texts h2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 1024px) {
  .final-call-to-action {
  }
  .final-texts h2 {
    font-size: 2.2rem;
    margin-top: 4rem;
  }
}

@media (min-width: 450px) and (max-width: 740px) {
  .final-texts {
  }
  .final-texts h2 {
    font-size: 2rem;
  }
  .final-texts button {
    margin-top: 1.5rem;
    font-size: 1rem;
  }
}

@media (min-width: 190px) and (max-width: 450px) {
  .final-call-to-action {

  }
  .final-texts{
    margin-top: 5rem;
  }
  .final-texts h2 {
    font-size: 1.5rem;
  }
  .final-texts button {
    margin-top: 1rem;
    font-size: 0.8rem;
  }
}