.Main-section{
    display: flex;
    flex-direction: row;
}
.tagline{
    font-size: 4em;
    font-weight: 900;
}
.basic-info-text{
    /* max-width: 5em; */
    margin-top: 1.2em;
    font-size: 1.3em;
    font-weight: 400;
    max-width: 35vw;
    color: grey;
}
.main-texts{
    margin: 6.5rem;
    margin-left: 9em;
    float: right;
    width: 70%;
}
.main-image img{
    float: left;
}
.button-section { 
    margin-top: 2rem;
}
.button-section button{
    background-color: #2988f8;
    padding: 0.9rem;
    width: 35%;
    border-color: transparent;
    border-radius: 0.3rem;
}
.button-section button:hover{
    cursor: pointer;
}
.button-section p{
    color: white;
    font-weight: 500;
    font-size: 1.2em;
}


/* For screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    .Main-section {
      flex-direction: column;
    }
    
    .tagline {
      font-size: 3em;
    }
    
    .basic-info-text {
      max-width: 100%;
      font-size: 1.1em;
      margin-top: 0.8em;
    }
    
    .main-texts {
      margin: 2rem;
      margin-top: 4rem;
      width: 100%;
    }
    
    .button-section button {
      width: 100%;
    }
  }
  
  /* For screens with a maximum width of 1024px */
  @media only screen and (max-width: 1024px) {
    .main-texts {
      margin-left: 3em;
      margin-right: 3em;
    }
  }
  