.nav-container{
    position: sticky;
    top: 0;
    z-index: 10;
}
/* Header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgba( 255, 255, 255, 0.8 ); */
    background-color: #bd917185;
    backdrop-filter: blur(10px);
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 2.2em;
    padding-left: 2em;
}

header img {
    width:220px;
    height: 37px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

/* Navigation */
nav {
    margin-top:1em;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

nav a {
    font-family: "Inter", Sans-serif;
    font-size: 16px;
    font-weight: 550;
    line-height: 1.25em;
    letter-spacing: 0.2px;
    color: white;
    text-decoration: none;
    margin-right: 3em;
}

nav a:first-child{
    margin-left: 0em;
}
nav a:last-child{
    margin-right: 3em;
}

nav a:hover {
    text-decoration: none;
}

header .cta-button {
    color: white;
    background-color: #94B682;
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

header .cta-button:hover {
    background-color: #2988f8;
}