@font-face {
    font-family: 'Kollektif';
    src: url('./kollektif/kollektif-Bold.ttf') format('truetype'),
         url('./kollektif/kollektif-BoldItalic.ttf') format('truetype'),
         url('./kollektif/kollektif-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  